@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #8a72b8;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 { 
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 60px;
}

#insert {
    height: 100px;
    margin-bottom: 40px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-center {
    justify-content: center;
    align-items: center;
}